body{
    box-sizing: border-box;
    background-color: #666;
}

header{
    display: flex;
    background-color: rgb(109, 109, 109);
    justify-content:space-between;
}

.tituloBiblioteca{
    font-size: 40px;
    color: antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
    margin:  0;
}

.subtituloBiblioteca{
    font-size: 25px;
    display: block;
}

.imgBook{
    margin-right: 10px;
    padding: 1em;
    height: 120px;
    width: 120px;
}

.imgFace{
    margin-left: 10px;
    position: absolute;
    height: 35px;
    width: 35px;
}